@font-face {
  font-family: 'LEDCounter7';
  src: url('/static/fonts/LEDCounter7.svg#LEDCounter7') format('svg'),
       url('/static/fonts/LEDCounter7.ttf') format('truetype'),
       url('/static/fonts/LEDCounter7.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'led_counter-7';
  src: url('/static/fonts/led_counter-7.eot');
  src: url('/static/fonts/led_counter-7.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/led_counter-7.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

